*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
hr {
    width: 70px;
    border: 1px solid #007bff;
    border-bottom: 0px;
}
.btn {
    padding: 14px 20px;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    display: inline-block;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
}
.btn:hover {
    color: white;
    background-color: #007bff;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
section{
    padding: 120px 0;
}
.section-header {
    margin-bottom: 75px;
}
.section-header h2 {
    color: #333;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}




.main-header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header .main-header-content {
    text-align: center;
}
.main-header .main-header-content h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    color: #007bff;
    margin: 0px;
}
.main-header .main-header-content p {
    font-size: 1,3em;
    color: #333;
    margin: 40px 0;
}
.main-header .main-header-content p span {
    color: #007bff;
}


.main-menu{
    background-color: #007bff;
}
.main-menu ul{
    margin: 0;
    padding: 10px 0;    
    text-align: center;
}
.main-menu ul .menu-item {
    display: inline-block;
    margin: 0 10px;    
}
.main-menu ul .menu-item a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: all .3s;
}
.main-menu ul .menu-item a:hover {
    color: #007bff;
    background-color: white;
}


.about {
    text-align: center;
}
.about .about-img {
    border-radius: 50%;
}
.about p {
    max-width: 700px;
    margin: 40px auto 30px auto;
    color: #777;
    line-height: 1.4;
}


.portfolio {
    background-color: #f2f1ed;
}
.portfolio-wraper {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-wraper .portfolio-item {
    flex-basis: 25%;
    height: 200px;
    position: relative;
}
.portfolio-wraper .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-wraper .portfolio-item h3{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 123, 255, 0.8);
    text-align: center;
    line-height: 200px;
    color: white;
    font-weight: 300;
    font-size: 3em;
    opacity: 0;
    transition: all .3s;
}
.portfolio-wraper .portfolio-item h3:hover {
    opacity: 1;
}


.contact form {
    max-width: 700px;
    margin: 40px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact input[type="text"],
.contact input[type="email"] {
    flex-basis: 48%;
    padding: 15px;
    margin-bottom: 15px;
}
.contact textarea {
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 15px;
    height: 100px;
}
.social-links {
    margin-top: 75px;
    text-align: center;
}
.social-links .social-link {
    font-size: 2.5em;
    color: #007bff;
    transition: all .3s;
    display: inline-block;
    margin: 0 20px;
}
.social-links .social-link:hover {
    color: #777;
}


.main-footer {
    background-color: #f2f1ed;
    padding: 30px;
    text-align: center;
    color: #777;
}



@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
    .portfolio-wraper .portfolio-item {
        flex-basis: 50%;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }
    .portfolio-wraper .portfolio-item {
        flex-basis: 100%;
    }
}
@media (max-width: 480px) {
    .main-header .main-header-content h1 {
        font-size: 3em;
    }
    .about .about-img {
        max-height: 200px;
        max-width: 200px;
    }
    .contact input[type="text"],
    .contact input[type="email"] {
        flex-basis: 100%;
    }
}